* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: #fff;
  background: #3498db;
  height: 100vh;
}

/**********************************/
/* HEADER */
/**********************************/
.nav {
  display: grid;
  grid-template-columns: 1fr 60rem 1fr;
  padding: 2rem 3rem;
}

.logo {
  font-size: 3.2rem;
  display: flex;
}

.search-form {
  width: 30rem;
  height: 3.7rem;
  display: flex;
  justify-self: center;
}

.search-input,
.search-btn {
  border: 0.2rem solid #fff;
  color: #fff;
}

.search-input {
  width: 25.3rem;
  height: 100%;
  border-right: none;
  background-color: transparent;
  border-top-left-radius: 1.2rem;
  border-bottom-left-radius: 1.2rem;
}

.search-btn {
  width: 4.3rem;
  height: 100%;
  border-left: none;
  background-color: transparent;
  border-top-right-radius: 1.2rem;
  border-bottom-right-radius: 1.2rem;
  cursor: pointer;
}

.measurement-con {
  height: 3.7rem;
  justify-self: right;
}

.nav-btn {
  color: #fff;
  height: 100%;
  width: 5rem;
  border-radius: 1.2rem;
  background-color: transparent;
  border: 0.2rem #fff solid;
  cursor: pointer;
}

.nav-btn:hover {
  color: #26cacb;
  background-color: #fff;
  transition: all 0.2s;
}

/**********************************/
/* MAIN */
/**********************************/
.main {
  display: flex;
  justify-content: center;
}

.info-con {
  width: 60rem;
}

.weather-header,
.summary-con {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-header {
  margin-bottom: 5rem;
}

.city-name {
  font-size: 3.6rem;
}

.date-time {
  font-size: 2rem;
}

.weather-card {
  display: flex;
  flex-direction: column;
  background-color: rgba(250, 250, 250, 0.4);
  padding: 3rem;
  border-radius: 1.2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.summary-con {
  width: 15rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.weather-icon {
  font-size: 6rem;
}

.temp {
  font-size: 4.8rem;
}

.conditions {
  font-size: 2.8rem;
  text-transform: capitalize;
}

.details-con {
  width: 45rem;
  display: flex;
  flex-wrap: wrap;
  row-gap: 3rem;
}

.detail-con {
  width: 13.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details-heading {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  color: #246a99;
}

.detail {
  font-size: 2.4rem;
}

.weather-info-con {
  display: flex;
}
